# Root .gitignore
.idea/
.vscode/
*.swp
*.log
.DS_Store

# Backend
backend/.gradle/
backend/build/
backend/bin/
backend/out/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.production.local
frontend/.env.test.local

# Database
data/
*.mv.db
*.trace.db
